ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

.banner {
  position: relative;
  width: 100%;
  height: 80vh;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 11;
  box-shadow: -2px 1px 11px 0px #efefef96;
}

.banner-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  white-space: nowrap;
  background: linear-gradient(-159deg, #c3c3c3, #989898);
  overflow: hidden;
}

.banner .logo {
  flex: 1;
  color: #fff;
  font-size: 2rem;
  font-weight: 550;
  text-align: center;
  margin: 0 20px 0;
}

.banner .navbar {
  flex: 2;
}

.banner .navbar ul {
  width: 100%;
  font-size: 16px;
  text-align: center;
  line-height: 70px;
  padding: 0;
}

.banner .navbar li {
  display: inline-block;
  padding: 0 1rem;
  color: #fff;
  transition: all .3s;
}

.banner .navbar li a {
  color: #fff;
  cursor: pointer;
  transition: all .1s ease-in;
}

.banner .navbar li a:hover {
  color: #1890ff;
}

.banner .navbar li:hover {
  background-color: rgb(148, 147, 147);
  opacity: .8;
}

#navbar2 {
  display: none;
  position: absolute;
  transition: all linear .8s;
}

.banner .toggle {
  flex: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .toggle i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/phone.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-header i {
  color: #fff;
  display: none;
}

/* slider */
.banner-slider {
  width: 100%;
  height: calc(100% - 70px);
  background: url("../img/bgc-img2.png");
}

/* 设置轮播组件占满整个屏幕 */
.image-slider {
  max-width: 1350px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

/* 设置每个幻灯片占满父容器 */
.image-slider .slider {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all linear .8s;
  overflow: hidden;
}

/* 设置图片样式 */
.image-slider .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 10;
}

/* 设置文本样式 */
.image-slider .slider .content {
  position: absolute;
  z-index: 30;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 48px;
  bottom: 0;
  width: 50%;
}

/* 标题距下方24px */
.image-slider .slider .content h1 {
  margin-bottom: 24px;
}

#prev,
#next {
  position: absolute;
  z-index: 50;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  color: rgba(216, 216, 216, .5);
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  background-color: rgba(158, 158, 158, 0.3);
  /* 在组件中的位置 */
  top: calc(50% - 4rem);
  left: 50px;
  transition: all .2s;
  cursor: pointer;
}

#prev i,
#next i {
  margin: 0 auto;
  font-size: 1.5rem;
}

/* 下一张按钮的位置，靠右 */
#next {
  left: unset;
  right: 50px;
}

/* 鼠标移到按钮上时改变背景和字体颜色 */
#prev:hover,
#next:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

/* 隐藏其他幻灯片 */
.image-slider .slider {
  opacity: 0;
}

/* 设置当前正在播放的幻灯片的透明度为1 */
.image-slider .slider.current {
  opacity: 1;
}

/* 图片文字描述动画属性,向下移动500px */
.image-slider .slider .content {
  opacity: 0;
  transform: translateY(500px);
  cursor: pointer;
}

/* 当前正在播放的幻灯片(current)的文字描述位置移动到原位 */
.image-slider .slider.current .content {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease-in-out 0.2s;
}

.banner-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 30;
}

.banner-down::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border: 50px solid #e0dede;
  border-top-color: rgba(23, 24, 23, 0);
  border-top-width: 30px;
  box-shadow: 0 0 0 100rem #e0dede;
}

.does {
  position: relative;
  width: 100%;
  background-color: #e0dede;
  text-align: center;
  box-shadow: 0px 9px 20px 20px #e0dede;
}

.does-content {
  max-width: 1200px;
  margin: 0 auto;
}

.job {
  margin: 0 auto 100px;
  padding: 40px 60px 0;
}

.job h2 {
  font-size: 1.8rem;
}

.job>p {
  font-size: 1.4rem;
}

.job-img {
  padding-bottom: 40px;
  /* width: 80vw; */
  margin: 0 auto;
}

.job-img ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: -10px;
}

.job-img li {
  margin-bottom: 10px;
}

.job-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  /* box-shadow: 5px 5px 5px 0 rgba(211, 209, 209, 0.4); */
}

.job-item .job-item-img {
  width: 250px;
  height: 250px;
  border: 1px solid #fff0;
  border-radius: 10px;
  overflow: hidden;
}

.job-item .job-item-img img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgb(230, 229, 229);
  transition: .3s;
}

.job-item .job-item-img span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  font-weight: 700;
  font-size: 1.2em;
  color: #f6f6f6;
}

.job-item:hover .job-item-img img {
  opacity: .3;
}

.job-item:hover .job-item-img span {
  opacity: 0;
}

.job-item .job-item-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 1.2em;
  color: rgb(36, 36, 36);
  transition: .3s;
}

.job-item:hover .job-item-content {
  top: 0;
  left: 0;
}

.product {
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
  width: 100%;
  /* height: 100vh; */
  background-color: rgb(223, 223, 223);
  background: url("../img/product-bgcImg.png");
  text-align: center;
}

.prd-top {
  margin: 50px auto;
  margin-top: 80px;
  width: 80vw;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pro-top-left {
  position: relative;
  padding: 5px;
  margin-right: 10px;
}

.pro-top-left .line {
  position: absolute;
  top: 2.2em;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 3px;
  background: -webkit-linear-gradient(left, rgb(223, 223, 223) -4%, #000000 50%, rgb(223, 223, 223) 100%);
}

.pro-top-left h2 {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  background-color: rgb(247, 247, 247);
  z-index: 2;
}

.pro-top-right {
  width: 500px;
  height: 300px;
}

.pro-top-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prd-item {
  margin: 0 auto 80px;
  max-width: 1200px;
}

.prd-item ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.prd-item ul li {
  position: relative;
  display: inline-block;
  width: 250px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}

.prd-item ul img {
  display: block;
  width: 250px;
  height: 250px;
  transition: .3s;
}

.prd-item ul li:hover img {
  opacity: .5;
}

.prd-item ul li .prd-item-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 1.2em;
  color: rgb(235, 230, 230);
  background-color: rgb(230, 229, 229);
  opacity: 0;
  transition: all .3s;
}

.prd-item ul li:hover .prd-item-content {
  color: rgb(36, 36, 36);
  opacity: .65;
}

.fullbar {
  height: 177px;
  background-image: url("../img/prd_pic/fullbar-01.png");
}

.fullbar .fullbar-item {
  width: 100%;
  height: 100%;
  box-shadow: 0px -10px 30px 0px #999;
}

.fullbar .fullbar-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -100%;
  height: 100%;
  font-size: 3.25rem;
  font-weight: 700;
  opacity: 0;
  transition: opacity 3s ease-in-out,
    left 2s ease-in-out;
}

.fullbar .fullbar-item.fullbar-show span {
  opacity: 1;
  left: 0;
}

.choice {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  text-align: center;
  margin-bottom: -150px;
}

.choice-box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.choice-title {
  position: relative;
  height: 150px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-left {
  position: absolute;
  left: 0;
  text-align: left;
}

.choice-title .title-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.more-hover {
  display: block;
  height: 20px;
  text-align: center;
  line-height: 20px;
  padding: 5px 10px;
  border-radius: 40px;
  background-color: #eaeaea;
  transition: all .3s linear;
}

.more-hover:hover {
  color: #ffffff;
  background-color: #bad7df;
}

.choice-body {
  margin: 0 auto;
}

.choice-img {
  display: flex;
  padding-bottom: 80px;
  justify-content: center;
  margin-bottom: -20px;
}

.img-left {
  width: 100%;
  max-width: 500px;
  height: 500px;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.img-left .img-left-item {
  width: 250px;
  height: 250px;
}

.img-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-right {
  width: 700px;
  height: 500px;
  background-color: #fff;
}

.img-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews {
  width: 100%;
  height: auto;
  padding-top: 135px;
  padding-bottom: 60px;
  background-color: #e0dede;
  text-align: center;
}

.reviews .content {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.reviews .review-title {
  position: relative;
  width: 100%;
}

.review-title .title {
  margin-bottom: 30px;
}

.review-title .title .title-number {
  color: rgb(255, 0, 0);
}

.review-title .see-more {
  position: absolute;
  top: 5px;
  right: 50px;
  cursor: pointer;
}

.content .review-body {
  width: 100%;
}

.review-body .r-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.r-box .r-item1 {
  flex: 1;
  margin: 8px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.r-item1 .item-img {
  flex: 1;
  width: 100%;
  max-width: 350px;
  padding: 30px;
}

.item-img img {
  max-height: 300px;
  object-fit: cover;
}

.r-item1 .item-words {
  flex: 1;
  padding: 15px;
  text-align: start;
}

.r-item1 .item-words p {
  text-indent: 2em;
  height: 250px;
  overflow: hidden;
  line-height: 25px;
  /* 如果显示不开，溢出的使用省略号 */
  text-overflow: ellipsis;
  /* 弹性伸缩盒子模型显示 */
  display: -webkit-box;
  /* 限制在一个块元素显示的文本的行数 */
  -webkit-line-clamp: 10;
  /* 设置或检索伸缩盒对象的子元素的排列方式 */
  -webkit-box-orient: vertical;
}

.r-item1 .item-words .item-title {
  font-size: 16px;
  font-weight: 700;
}

.r-item1 .item-words .user {
  display: flex;
  align-items: center;
}

.r-item1 .item-words .user .user-pic {
  border: 1px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
}

.r-item1 .item-words .user .user-name {
  margin-left: 10px;
  line-height: 40px;
}

.back-top {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.back-top .back-content {
  width: 30px;
  margin: 0 auto;
  cursor: pointer;
  color: rgb(70, 70, 70);
  font-weight: 700;
  /* opacity: 1; */
  animation: flash 3.5s ease infinite;
}

.back-top .back-content img {
  width: 100%;
  height: 100%;
}

/* .back-top .back-content span:nth-child(2) {
  font-size: .9rem;
} */

@keyframes flash {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: .6;
    transform: translateY(-25px);
  }

  100% {
    opacity: 1;
    transform: translateY(-0px);
  }
}




/* footer */
.footer {
  background-color: #f6f9fa;
  padding: 40px;
}

.link-box {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
}

.link-item {
  flex: 1;
  border-right: 1px solid rgb(235, 233, 233);
  /* margin-right: 60px;` */
  padding: 20px;
}

.link-item span {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
}

.link-item ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90px;
}

.link-item ul a {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;

}

.link-item ul a:hover {
  color: #1890ff;
}

.item-3 {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  border-right: 0;
}

.link-qrCode {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}

.link-qrCode:hover {
  color: #1890ff;
}

.link-qrCode img {
  width: 64px;
  height: 64px;
}

.link-qrCode span {
  font-size: 14px;
  margin-top: 10px;
}

.link-info {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
}

.link-info span {
  flex: 1;
  font-size: 11px;
  color: #999;
  margin-bottom: 5px;
}

.link-info .link-logo {
  flex: 3;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.link-info .link-info-right {
  text-align: right;
}

/* news */
.new {
  width: 100%;
  background-color: #f5f5f5;
}

.new-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 35px;
}

.new-list .new-list-body {
  width: 650px;
}

.new .new-list-body .new-title span {
  color: red;
}

.new .new-list-body ul li {
  width: 100%;
  list-style: inherit;
  line-height: 2rem;
  font-size: 1rem;
}

.new-list-body ul li:hover a {
  color: #1890ff;
}

/* .new-list-body li a {
  display: block;
} */

.new-item-text {
  display: flex;

}

.new-item-text .new-item-title {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.new-item-text .new-item-data {
  display: inline-block;
  white-space: nowrap;
  font-size: 1rem;
  color: #999;
}

.new .new-list .new-list-img {
  width: 500px;
  height: 300px;
  background-color: #fff;
}

.new-list .new-list-img .new-img {
  width: 100%;
  height: 100%;
}

.new-list-img .new-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}