@media screen and (max-width: 375px) {
  .job-img .job-item .job-item-img {
    width: 150px;
    height: 150px;
  }

  .product .prd-item ul li {
    width: 150px;
    height: 150px;
  }

  .review-title .see-more {
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
  }
}

/* <= 425px */
@media screen and (max-width: 580px) {

  /* body,
  html {
    font-size: 12px;
  } */

  .banner #navbar2 {
    flex-direction: column;
    line-height: 30px;
    background-color: rgba(49, 49, 49, 0.8);
    transform: translateY(-100%);
    transition: all .4s ease-in-out;
  }

  .navbar-move {
    transform: translateY(0) !important;
  }

  .banner .navbar ul {
    line-height: 2rem;
  }

  .banner .navbar li {
    display: block;
    border-bottom: 1px solid #999;
    z-index: 999;
  }

  .banner .content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  /* does */
  .job-item .job-item-img {
    /* width: 200px;
    height: 200px; */
    width: 180px;
    height: 180px;
  }

  /* product */
  .prd-item ul li {
    width: 180px;
    height: 180px;
    margin: 1px;
  }

  /* fullbar */
  .fullbar .fullbar-item span {
    font-size: 2.45rem;
  }

  /* choice */
  .choice-box {
    width: 90%;
    padding: 0;
  }

  .choice-img .img-left {
    flex-wrap: wrap;
  }

  .choice-body .choice-img .img-left .img-left-item {
    width: 100%;
    height: 190px;
    object-fit: cover;
  }

  /* review */
  .reviews {
    padding-bottom: 1px;
  }

  .review-body .r-box {
    flex-direction: column;
  }

  .r-box .r-item1 {
    margin-bottom: 2px;
    width: auto;
  }

  .r-item1 .item-img {
    padding: 30px 0 10px 10px;
  }

  /* new */
  .new-list {
    padding: 0 0 25px;
  }

  /* back */
  .back-top {
    height: 30px;
  }

  .back-top .back-content {
    width: 25px;
  }

  /* footer */
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer .link-box .link-item {
    margin-bottom: 0;
    padding: 0;
  }

  .link-box .link-item span {
    margin-top: 10px;
  }

  .link-box .link-qrCode img {
    width: 48px;
  }

  .link-box .link-qrCode span {
    font-size: 12px;
  }
}

/* <= 768px */
@media screen and (max-width: 768px) {

  body,
  html {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }

  .banner-header {
    display: flex;
  }

  .banner .logo {
    position: absolute;
    /* top: 3.7vw; */
    left: 5.9vw;
    font-size: 1.8rem;
  }

  .banner .toggle {
    display: none;
  }

  .banner #navbar2 {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: block;
    transform: translateY(-100%);
    background-color: rgba(49, 49, 49, 0.8);
    transition: all .5s;
  }

  .navbar-move {
    transform: translateY(0) !important;
  }

  .banner-header .navbar {
    display: none;
  }

  .isHide {
    display: none;
  }

  /* .banner .navbar ul {
    line-height: 4rem;
  } */

  .banner #navbar2 li:hover {
    cursor: pointer;
  }

  .banner .navbar li a:hover {
    border-bottom: 0px;
  }

  .banner .navbar li:hover a:hover {
    color: #1890ff;
  }

  .banner-header i {
    position: absolute;
    /* top: 3.7vw; */
    right: 8.5vw;
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  /* slider */
  .banner-slider {
    position: relative;
    z-index: 9;
  }

  /* 文字占满屏幕 */
  .image-slider .slider .content {
    width: 100%;
  }

  /* 控制按钮大小和间距缩小 */
  #prev,
  #next {
    font-size: 24px;
    left: 24px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    top: 40%;
  }

  /* 移动下一张按钮，使间距变小 */
  #next {
    left: unset;
    right: 24px;
  }

  /* product */
  .prd-top {
    flex-wrap: wrap;
    height: auto;
  }

  .pro-top-left {
    /* padding: 20px; */
    order: 2;
  }

  .pro-top-right {
    order: 1;
    width: 300px;
    height: 250px;
    overflow: hidden;
  }

  .prd-item img {
    width: 100%;
    height: 100%;
  }

  /* choice */
  .choice-img div {
    height: auto;
  }

  .choice-img .img-left .img-left-item {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  /* news */
  .new .new-list .new-list-body {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }

  /* footer */
  .footer {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .footer .link-box {
    flex-direction: column;
    margin: 5px 0;
  }

  .link-box .link-item {
    border-bottom: 1px solid rgb(235, 233, 233);
    border-right: 0;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 10px;
  }

  .footer .link-info {
    flex-direction: column;
    text-align: center;
    margin: 5px 0;
  }

  .link-info .link-info-right {
    text-align: center;
  }
}

/* <= 1024px */
@media screen and (max-width: 1024px) {
  .choice .choice-img {
    flex-wrap: wrap;
  }

  .choice-img .img-right {
    width: 100%;
  }

  .img-left {
    width: 100%;
    flex-wrap: nowrap;
    max-width: none;
    height: auto;
  }
}

/* <= 1200px */
@media screen and (max-width: 1316px) {
  /* .choice-img .img-right {
    margin-top: 10px;
    width: 100%;
  } */

  .new .new-list .new-list-body {
    margin: 0 auto;
    /* width: 100%; */
    padding: 0px 50px;
  }

  .new .new-list .new-list-img {
    display: none;
  }
}